@import "src/styles/Variables";


.category-list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align the items at the center horizontally */
  width: 100%; /* Make the category-list span the full width of the container */
  margin-top: 20px; /* Add margin at the top for separation from the chart */
}

.category-list__date {
  text-align: center;
  margin-top: 26px; /* Adjust the margin-top as needed */
}

.category {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  padding-right: 8px;
}

.category__indicator {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.category__amount {
  margin-left: auto;

  &__expense {
    color: $secondary-color;
  }

  &__income {
    color: $primary-color;
  }
}

.category__title {
  font-size: 16px;
}

.category__category-name {
  font-size: 14px;
  font-weight: 300;
}

.chart-container {
  max-width: 250px; // Adjust the maximum width as needed
  margin: 0 auto; // Center the chart horizontally
  padding: 20px; // Add padding around the chart

  .chart-wrapper {
    height: 250px; // Adjust the height as needed
    width: 100%; // Make the chart take the full width
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    overflow: hidden;
  }
}
