@import "src/styles/Variables";


.select-wrapper {
  position: relative;
  color: inherit;

  .select-button {
    color: inherit;
    outline: none;
    cursor: pointer;
    position: relative;
    font-size: inherit;
    background: none;
    border: none;
    font-weight: inherit;
    margin-right: 12px;

    &:after {
      position: absolute;
      content: $symbol-caret-down;
      right: -12px;
      top: -2px;
      font-weight: bold;
      font-size: 10px;
      transform: translateY(50%);
    }
  }

  .expanded{
    &:after{
      transform: rotate(180deg) translateY(-50%);
    }
  }

  .title{
    color: #8e8e8e;
  }

  ul {
    display: none;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    text-align: center;

    li {
      cursor: pointer;
    }

    &.show {
      display: block;
    }
  }

  .dropdown-icon{
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: 0.5em;
    transform: translateY(15%) scale(1.5);
  }
}