@import "Variables";

.budgets {
  display: flex;
  flex-direction: column;
  gap: 14px;
  .row-title {
    text-align: left;
  }

  &__total {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__total-content {
    position: absolute;
    width: 70px;
    height: 70px;
    text-align: center;
    background: $background-color;
    border-radius: 50%;
    line-height: 2em;
    padding: 10px 0;
    font-size: 12px;
  }

  &__time-scope {
    display: flex;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    > div {
      background: $background-light-color;
      flex-grow: 1;
      text-align: center;
      padding: 5px;
      opacity: 0.5;
      &.active {
        opacity: 1;
      }
    }
  }

  &__row-extended {
    border-top: 5px solid $background-color;
    padding: 8px;
    background: $background-light-color;
    a {
      color: $primary-color;
      text-decoration: underline;
    }

    > div {
      &:nth-child(1) {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      &:nth-child(2) {
        text-align: center;
        font-size: 12px;
        font-weight: 300;
        opacity: 0.5;
        margin-top: 1em;
      }
    }
  }

  .edit-icon {
    width: 25px;
    height: 25px;
  }

  .popup {
    &__header {
      justify-content: center;
      align-items: center;
    }
    a {
      color: $primary-color;
      text-decoration: underline;
    }
    .budgets-category-list {
      width: 150px;
      display: flex;
      flex-direction: column;
      gap: 1em;
      &__item {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5em;
      }
    }
    .category-icon {
      width: 25px;
      height: 25px;
    }

    .budgets-category-list-label {
      min-height: 64px;
      height: 100%;
      position: relative;
    }
    .delete-icon {
      width: 35px;
      height: 35px;
      position: absolute;
      left: 0;
      bottom: 0;
      path {
        fill: white;
      }
    }
  }
}
