@import "Variables";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;;
  background: $background-color;
  color: $primary-light-color;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@import "ui";
@import "Layout";
@import "Transactions";
@import "TimeScopePanel";
@import "AccountSelector";
