@import "Variables";

.sign-up-mobile {
  position: relative;
  padding: 42px 0;

  a {
    color: $primary-color;
    cursor: pointer;
    text-decoration: underline;
  }


  .form-container {
    top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 16px;
    gap: 1em;
    width: 100%;
    height: auto;
    margin: 40px auto 0;
    align-items: center;
  }

  .form-label {
    color: $primary-light-color;
  }

  input.error {
    border-color: $secondary-color;
  }

  .error-message {
    color: $secondary-color;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-top: 4px;
  }

  .button {
    width: 100%;
  }

  .login-text {
    margin-top: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: $light-gray-color;
  }

  .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    input[type="checkbox"] {
      height: 4em;
      width: 4em;
    }
  }

  h3 {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
  }
}
