.sign-up-mobile {
  position: relative;

  background: #36413E;
}

.sign-up-mobile .form-container {
  top: 30px; 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 10px;
  width: 100%;
  height: auto;
  margin: 0 auto; 
  margin-top: 40px;
  align-items: center;
}

.sign-up-mobile .form-label {
  color: #FFFFFF;
}

.sign-up-mobile .form-control {
  background: #FFFFFF;
 
  border-radius: 16px;
  padding: 12px 16px;
  gap: 10px;
  width: 100%;
}

.sign-up-mobile .form-control.error {
  border-color: #FF4D00;
}

.sign-up-mobile .error-message {
  color: #FF4D00;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-top: 4px;
}

.sign-up-mobile .btn.btn-secondary {
  background: #35BE74;
  border-radius: 16px;
  padding: 12px 16px;
  gap: 10px;
  width: 100%;
}

.sign-up-mobile .btn.btn-secondary.px-4 {
  width: 285px;
  height: 56px;
  left: 17px;
  top: 429px;
}

.sign-up-mobile .btn .btn-title {
  color: #FCFCFC;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.sign-up-mobile .login-text {
  margin-top: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #91919F;
}
.sign-up-mobile .checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}


.sign-up-mobile .login-text span {
  color: #35BE74;
  cursor: pointer;
}

.sign-up-mobile .signup {
  margin: 0;
  position: absolute;
  width: 67px;
  height: 22px;
  left: 50%;
  transform: translateX(-50%);
  top: -30px; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
}
