@import "Variables";

.time-scope-panel{
    position: sticky;
    top: 58px;
    width: 100%;
    height: 38px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    z-index: 2;

    &__date-picker{

        input {
            appearance: none;
            background-color: transparent;
            border: none;
            padding: 0;
            font-family: inherit;
            font-size: inherit;
            color: $primary-light-color;
            max-width: 120px;
          }
          
          input::-webkit-calendar-picker-indicator {
            filter: invert(1);
          }
          
          input::-webkit-inner-spin-button,
          input::-webkit-clear-button {
            display: none;
          }
    }

    &__scope-picker {
        width: 30%;
        max-width: 80px;
        display: flex;
        justify-content: flex-start;
      
        div,
        ul {
          width: 80px;
          min-width: fit-content;
          padding: 7px 10px;
        }
      
        div {
          border-radius: 10px;
          transition: 0.1s;
          &:hover {
            background-color: $background-fade-color;
          }
        }
      
        ul {
          background-color: $background-fade-color;
          border-radius: 0 0 10px 10px;
          transition: 0.1s;
          text-align: left;

          li{
            margin: 5px 0 0;
          }
        }
    }
}