@import "Variables";

.select-wrapper {
  position: relative;
  color: inherit;

  .select-button {
    color: inherit;
    outline: none;
    cursor: pointer;
    position: relative;
    font-size: inherit;
    background: none;
    border: none;
    font-weight: inherit;

    &:after {
      position: absolute;
      content: $symbol-caret-down;
      right: 0;
      font-weight: bold;
      font-size: 10px;
      transform: translateY(50%);
    }
  }

  .expanded{
    &:after{
      transform: rotate(180deg) translateY(-50%);
    }
  }

  .title{
    color: #8e8e8e;
  }

  ul {
    display: none;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    text-align: center;

    li {
      cursor: pointer;
    }

    &.show {
      display: block;
    }
  }
}

.input-field{
  width: 100%;
  padding: 3.5px 16px;
  background: $primary-light-color;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 13px;
  gap: 1em;
  font-size: 16px;
  input{
    font-size: inherit;
    background: none;
    min-height: 32px;
    width: 100%;
    flex-grow: 1;
    outline: none;
    border: none;
  }
}

.button{
  outline: none;
  border: none;
  padding: 1em;
  border-radius: 16px;
  color: $primary-light-color;
  background: $primary-color;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;

  &:hover{
    background: #2ca163;
  }
}