@import "Variables";

.select-wrapper {
  position: relative;
  color: inherit;

  .select-button {
    color: inherit;
    outline: none;
    cursor: pointer;
    position: relative;
    font-size: inherit;
    background: none;
    border: none;
    font-weight: inherit;
    margin-right: 12px;

    &:after {
      position: absolute;
      content: $symbol-caret-down;
      right: -12px;
      top: -2px;
      font-weight: bold;
      font-size: 10px;
      transform: translateY(50%);
    }
  }

  .expanded{
    &:after{
      transform: rotate(180deg) translateY(-50%);
    }
  }

  .title{
    color: #8e8e8e;
  }

  ul {
    display: none;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    text-align: center;

    li {
      cursor: pointer;
    }

    &.show {
      display: block;
    }
  }

  .dropdown-icon{
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: 0.5em;
    transform: translateY(15%) scale(1.5);
  }
}

.input-field{
  width: 100%;
  padding: 3.5px 16px;
  background: $primary-light-color;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 13px;
  gap: 1em;
  font-size: 16px;
  input{
    font-size: inherit;
    background: none;
    min-height: 32px;
    width: 100%;
    flex-grow: 1;
    outline: none;
    border: none;
  }
}

.button{
  outline: none;
  border: none;
  padding: 1em;
  border-radius: 16px;
  color: $primary-light-color;
  background: $primary-color;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;

  &:hover{
    background: #2ca163;
  }
}

.no-scroll{
  overflow: hidden;
}

.row-title{
  width: 100%;
  margin-top: calc(40px - 14px);
  padding: 0 8px;
}

.row-item{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0 8px;
  position: relative;
  background: $background-light-color;

  &__indicator{
    width: 8px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    &__expense{background: $secondary-color}
    &__income{background: $primary-color}
  }
  &__category-icon{
    width: 50px;
    height: 100%;
    margin-right: 1em;
  }
  &__amount{
    margin-left: auto;
    &__expense{color: $secondary-color}
    &__income{color: $primary-color}
  }
  &__title{
    font-size: 16px;
  }
  &__sub-title{
    font-size: 14px;
    font-weight: 300;
  }
}