$background-color: #36413E;
$background-light-color: #4A5754;
$primary-color: #35be74;
$secondary-color: #FF4B3E;
$light-gray-color: #91919F;
$primary-dark-color: #0A0903;
$secondary-dark-color: rgba(24, 29, 39, 0.7);
$primary-light-color: #fcfcfc;


$symbol-caret-down: "▼";