$background-color: #36413E;
$background-light-color: #4A5754;
$primary-color: #35BE74;
$secondary-color: #FF4B3E;
$primary-dark-color: #0A0903;
$secondary-dark-color: rgba(24, 29, 39, 0.7);
$primary-light-color: #FFFFFF;

$symbol-caret-down: "▼";