@import "src/styles/Variables";

.transactions {
  .popup__header {
    $border-radius: 20px;
    $padding: 31px;
    li {
      height: 34px;
      width: 100%;
      text-align: center;
      line-height: 34px;
      opacity: 0.4;
      cursor: pointer;

      &.current-type {
        opacity: 1;
      }

      &:nth-child(1) {
        background: $primary-color;
        border-top-left-radius: $border-radius;
      }

      &:nth-child(2) {
        background: $secondary-color;
      }

      &:nth-child(3) {
        background: $light-gray-color;
        border-top-right-radius: $border-radius;
      }
    }
  }

  .popup__header.income {
    background-color: $primary-color;
  }

  .popup__header.expense {
    background-color: $secondary-color;
  }

  .popup__fields {
    &__amount {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      div {
        max-width: 50%;
        margin: 0 5px;
        input {
          text-align: center;
        }
      }
    }
  }

  .popup__info {
    &__edit-icon {
      width: 40px;
      height: 40px;
    }

    &__amount {
      font-size: 25px;
      font-weight: 600;
      text-align: center;
      margin: 25px 0;

      &.income {
        color: $primary-color;
      }

      &.expense {
        color: $secondary-color;
      }
    }

    &__item {
      font-size: 16px;
      margin: 10px;
      display: flex;

      &__category {
        margin-left: 10px;
        display: flex;

        align-items: center;
        img {
          width: 25px;
          height: 25px;
          margin-right: 5px;
        }
      }
    }
  }
}

.transaction-sums {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  margin-top: 20px;

  > div {
    width: 116px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
  }
  &__income {
    border: 2px solid $primary-color;
    color: $primary-color;
    &.active {
      background-color: $primary-color;
      color: $primary-light-color;
    }
  }
  &__expense {
    border: 2px solid $secondary-color;
    color: $secondary-color;
    &.active {
      background-color: $secondary-color;
      color: $primary-light-color;
    }
  }
  &__filter {
    border: 2px solid none;
    color: $filter-color;
    
  }
}

.new-transaction {
  position: fixed;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 35px;
  font-weight: 300;
  padding: 14px;
  right: 15px;
  bottom: $layout-panel_height + 15px;
}

@import "TransactionList";
