@import "src/styles/Variables";

.transactions{
  .popup__header{
    $border-radius: 20px;
    $padding: 31px;
    justify-content: space-between;
    li {
      height: 34px;
      width: 100%;
      text-align: center;
      line-height: 34px;
      opacity: .4;
      cursor: pointer;

      &.current-type {
        opacity: 1;
      }

      &:nth-child(1) {
        background: $primary-color;
        border-top-left-radius: $border-radius;
      }

      &:nth-child(2) {
        background: $secondary-color;
      }

      &:nth-child(3) {
        background: $light-gray-color;
        border-top-right-radius: $border-radius;
      }
    }
  }
}

.transaction-sums{
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  margin-top: 20px;

  >div{
    width: 116px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    cursor: pointer;

  }
  &__income{
    border: 2px solid $primary-color;
    color: $primary-color;
  }
  &__expense{
    border: 2px solid $secondary-color;
    color: $secondary-color;
  }
}

.new-transaction{
  position: fixed;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 35px;
  font-weight: 300;
  padding: 14px;
  right: 15px;
  bottom: $layout-panel_height + 15px;
}

@import "TransactionList";
